<?xml version="1.0" encoding="utf-8"?>
<plugin
    xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="it.engbmsdev.cordova.bluetoothstate"
    version="0.0.1">

    <name>Bluetooth State</name>
    <description>Bluetooth State Plugin</description>
    <license>Apache 2.0</license>
    <keywords>bluetooth</keywords>
    <repo>https://github.com/engbmsdev/BluetoothSerial.git</repo>
    <issue>https://github.com/engbmsdev/BluetoothSerial/issues</issue>

    <engines>
        <engine name="cordova" version=">=2.9.0" />
    </engines>

    <js-module src="www/bluetoothState.js" name="bluetoothState">
        <clobbers target="window.bluetoothState" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/widget">
            <feature name="BluetoothState">
                <param name="android-package" value="it.engbmsdev.cordova.bluetoothstate.BluetoothState"/>
            </feature>
        </config-file>

        <source-file src="src/android/BluetoothState.java"
            target-dir="src/it/engbmsdev/cordova/bluetoothstate"/>
        <source-file src="src/android/BluetoothStateService.java"
            target-dir="src/it/engbmsdev/cordova/bluetoothstate"/>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.BLUETOOTH" />
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        </config-file>

    </platform>

</plugin>
